* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(240, 240, 240);
  background: rgb(25, 32, 48);
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

li::marker {
  color: rgb(3, 211, 3);
}

p {
  margin-bottom: 0;
}
.name {
  color: rgb(15, 157, 192);
  margin-right: 4px;
}

.textBox {
  height: 80vh;
}

.text {
  background: #3a3b3f;
}
